@import "~bootstrap/dist/css/bootstrap-grid.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body{
width: 100%;
}

.col-12{
    width: 100%;
}

::ng-deep { 
    .w-100 {
        width: 100%;
    }
}